/lib/target/
/book-microservice/target/
/shipping-microservice/target/
/api-gateway/target/
/order-microservice/target/
/inventory-microservice/target/
/customer-microservice/target/
/reviews-service/target/
/cart-service/target/
*/src/main/generated/
*/src/main/asciidoc/