 <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Product Details</div>
            <div class="panel-body">
              <p>{{book.shortDescription}}</p>
            </div>

            <!-- List group -->
            <ul class="list-group list-group-details">
              <li class="list-group-item">
                <div class="panel-heading">Price: <span
                  class="panel-heading text-in-stock">{{book.price | currency}}</span></div>
              </li>
              <li class="list-group-item">
                <div class="panel-heading">Product number: <span class="panel-heading">{{book.bookId}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="panel-heading">Seller: <span class="panel-heading"> Hacker</span>
                </div>
              </li>
              <li class="list-group-item">
                <div ng-if="!inventory">
                  <div class="panel-heading">
                    <p class="text-out-of-stock">Out of stock.</p>
                  </div>
                </div>
                <div ng-if="inventory">
                  <div class="panel-heading">
                    <p class="text-in-stock">In stock.</p>
                  </div>
                </div>
              </li>
              <!--<li class="list-group-item" ng-if="authenticated">-->
              <li class="list-group-item" ng-if="true">
                <form ng-submit="addToCart()" ng-controller="AddToCartCtrl" ng-if="inventory">
                  <div class="panel-heading form-inline">
                    <input type="hidden" ng-model="bookId" value="{{book.bookId}}"/>
                    <button class="btn btn-primary" id="addToCart" type="submit">Add to Cart
                    </button>
                    <div class="form-group">
                      <div id="addProductAlert" class="alert alert-success fade" role="alert">
                        <p>Product added to cart!</p>
                      </div>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>